.analisis-section {
  background: #fff;
  padding: 56px 0 0 0;
}

.analisis-titulo {
  color: #181829;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: .01em;
  text-align: center;
  margin-bottom: 28px;
  font-family: 'MONT-BOLD';
}

.analisis-section .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.analisis-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  padding-right: 30px;
  height: 70%;
  font-family: 'MONT-BOLD';
}

.analisis-subtitulo {
  color: #181829;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-left: 100px;
  margin-right: 10px;
  line-height: 1.21;
  font-family: 'MONT-BOLD';
}

.analisis-desc {
  color: #202040;
  font-size: 25px;
  line-height: 1.24;
  margin-bottom: 0;
  margin-left: 100px;
  margin-right: 10px;
  font-family: 'MONT-REGULAR';
}

.analisis-img-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 18px;
}

.analisis-pc-img {
  width: 95%;
  max-width: 500px;
  min-width: 180px;
  display: block;
}

/* ---------------------- RESPONSIVE ------------------------- */
@media (max-width: 1100px) {
  .analisis-titulo {
    font-size: 35px;
    margin-bottom: 18px;
  }
  .analisis-subtitulo,
  .analisis-desc {
    margin-left: 40px;
    margin-right: 5px;
    font-size: 19px;
  }
  .analisis-pc-img {
    margin-top: 20px;
    max-width: 400px;
    min-width: 120px;
  }
}


@media (max-width: 600px) {
  .analisis-section {
    padding: 10px 0 0 0;
  }
  .analisis-titulo {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .analisis-subtitulo,
  .analisis-desc {
    font-size: 15px;
    margin: 0 0 10px 0;
  }
  .analisis-pc-img {
    max-width: 80%;
    min-width: 0;
    display: block;
    margin: 0 auto;
  }
}
