.seccion-gestion {
  background: url('../assets/bot/BG-morado.png') no-repeat center center/cover;
  padding: 0 0 50px 0;
  width: 100%;
  box-sizing: border-box;
}

/* FLEX ROW SIEMPRE HASTA CELULAR PEQUEÑO */
.seccion-gestion-col {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: stretch;    /* Ambos lados ocupan mismo alto */
  justify-content: center;
  width: 100%;
}

/* Ajusta los contenedores para que no se achiquen demasiado */
.seccion-gestion-imgbox.imgbox-izq,
.seccion-gestion-imgbox.imgbox-der {
  width: 45%;       /* Un poco menos de 50% para dar espacio al texto */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 180px;
}
.seccion-gestion-imgbox.imgbox-der { justify-content: flex-start; }

.gestion-texto-izq, .gestion-texto-der {
  width: 55%;
  min-width: 220px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.gestion-texto-izq {
  align-items: flex-start;
  text-align: left;
  color: #000;
}
.gestion-texto-der {
  align-items: flex-start;
  text-align: left;
  color: #fff;
}

.img-mano-celular {
  max-width: 370px;
  width: 100%;
  margin-bottom: 12px;
}
.img-laptop-nube {
  max-width: 340px;
  width: 100%;
  margin-bottom: 12px;
}

.gestion-titulo {
  font-family: 'MONT-BOLD';
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 8px;
  color: #fff;
}
.gestion-desc {
  font-family: 'MONT-REGULAR';
  font-size: 25px;
  line-height: 1.26;
  color: #fff;
}

/* ----------- TABLET ----------- */
@media (max-width: 1000px) {
  .seccion-gestion-col { gap: 12px; }
  .seccion-gestion-imgbox.imgbox-izq,
  .seccion-gestion-imgbox.imgbox-der { width: 42%; min-width: 140px; }
  .gestion-texto-izq, .gestion-texto-der {
    width: 58%;
    max-width: 370px;
    min-width: 120px;
    padding: 0 8px;
  }
  .img-mano-celular, .img-laptop-nube { max-width: 180px; }
  .gestion-titulo { font-size: 18px; }
  .gestion-desc { font-size: 13px; }
}


@media (max-width: 700px) {
  .seccion-gestion-imgbox.imgbox-izq,
  .seccion-gestion-imgbox.imgbox-der { width: 40%; min-width: 80px;margin-top: 10px}
  .gestion-texto-izq, .gestion-texto-der { width: 62%; max-width: 100%; margin-top: 20px}
  .img-mano-celular, .img-laptop-nube { max-width: 150px; }
  .gestion-titulo { font-size: 12px }
  .gestion-desc { font-size: 9px; }
}



