.home-hero {
  width: 100%;
  background: #000626;
  padding: 0 0 50px 0;
  overflow: hidden;
}
.home-hero .hero-text{
  text-align: center;
}

.home-hero .hero-text h1,
.home-hero .hero-text h2{
  color: #fff;
  text-align: inherit; /* usa el center del contenedor */
}

.hero-text h1, .hero-text h2 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.home-row {
  align-items: flex-start;
  min-height: 540px;
}

.home-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 36px;
  height: 100%;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
}

@keyframes cardFloat {
  0%   { transform: translateY(0);}
  50%  { transform: translateY(-10px);}
  100% { transform: translateY(0);}
}

.card-home {
  width: 100%;
  max-width: 260px;
  border-radius: 24px;
  box-shadow: 0 2px 16px #000626;
  background: #fff;
  transition:
    transform 0.22s cubic-bezier(.22,.68,.57,1.12),
    box-shadow 0.19s;
}

.card-home:hover {
  transform: scale(1.10) translateY(-10px);
  box-shadow: 0 8px 32px #b37aff40, 0 2px 16px #000626;
  z-index: 3;
}

.btn-activa-nova {
  margin-top: 0;
  width: 80%;
  max-width: 220px;
  align-self: flex-end;
  cursor: pointer;
  transition: transform 0.15s;
  margin-right: 20px;
}

.btn-activa-nova:hover {
  transform: scale(1.04) translateY(-2px);
}

.home-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.robot-video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.robot-video {
  width: 100%;
  max-width: 650px;
  aspect-ratio: 1.5/1;
  object-fit: cover;
  border-radius: 22px;
}

.beneficios-home {
  margin-top: 8px;
  width: 100%;
  max-width: 450px;
  display: block;
}



/* --- RESPONSIVE --- */
@media (max-width: 900px) {
  .home-row {
    flex-direction: column-reverse;
    align-items: center;
    min-height: unset;
  }
  .home-right { order: 1; }
  .home-left  { order: 2; }

  .hero-text h1 {
    text-align: center;
    font-size: 30px;
  }
  .hero-text h2 {
    text-align: center;
    font-size: 20px;
  }
  .robot-video-container {
    margin-bottom: 18px;
    width: 80%;
  }
  .robot-video {
    max-width: 98vw;
    height: auto;
  }
  .card-list {
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
  }
  .card-home {
    max-width: 120px;
    margin-bottom: 0;
  }
  .btn-activa-nova {
    max-width: 200px;
    width: 100%;
    display: block;
    margin: 0 auto;  

  }
  .beneficios-home {
    margin-top: 16px;
    max-width: 90%;
  }
}
